blower:
  enable: false
  name: DummyBlower
controller:
  enable: true
  lookup:
    F1: _(Prototome_REQUEST_Run_#
    F2: _(Prototome_SET_section_thickness
    F4: _(Prototome_REQUEST_Pause_#
    F6: _(Prototome_REQUEST_Emergency_#
    F7: _(Prototome_SET_retract_speed
    F8: _(Prototome_SET_cut_speed
    ctrl+E: _(Prototome_SET_ep_cut_bottom
    ctrl+T: _(Prototome_SET_ep_cut_top
    ctrl+down: _#Controller_SET_unit_decrease_#
    ctrl+up: _#Controller_SET_unit_increase_#
    windows+E: _(Prototome_MOVE_ep_cut_bottom_#
    windows+T: _(Prototome_MOVE_ep_cut_top_#
    windows+down: _decrease
    windows+esc: confirm_#
    windows+up: _increase
  name: DummyController
gamepad:
  deadzone: 8000
  gamepad_id: 0
  max_deflection: 32767
  name: DummyGamepad
gui:
  window1:
    camera:
      camera_settings:
        serial_number: 0
      horizontal_flip: false
      name: WebCamera
      vertical_flip: false
    elements:
      camera_controls: true
      camera_feed: true
      lasso_controls: true
      lasso_navigator: true
      status_label: true
      top_buttons: true
      water_control: false
    lasso:
      acceleration:
        default:
          X: 20
          Y: 20
          Z: 20
        post_pickup:
          X: 20
          Y: 20
          Z: 250
      active: true
      axis_map:
        X: Stage.axis1
        Y: Stage.axis3
        Z: Stage.axis2
      axis_priority:
        X: 2
        Y: 2
        Z: 1
      deceleration:
        default:
          X: 20
          Y: 20
          Z: 20
        post_pickup:
          X: 20
          Y: 20
          Z: 100
      devices:
        Consumer_dropoffimager:
          name: ROIImageSaver
          roi:
            height: 139
            left: 369
            top: 191
            width: 118
          save_dir: .\data\right_lasso_images
          save_ext: tif
          save_prefix: ''
          source:
            camera_0: newFrame
            camerafeeds_window1: roi_selected
            self:
            - saveImage
            - saveNameUpdated
            - savePrefixUpdated
        Consumer_lassorecorder:
          name: ROIVideoRecorder
          roi:
            height: 200
            left: 50
            top: 50
            width: 200
          save_dir: .\data\right_lasso_videos
          save_ext: mp4
          save_prefix: ''
          source:
            camera_0: newFrame
            camerafeeds_window1: roi_selected
            self:
            - toggleVideoRecording
            - saveNameUpdated
            - savePrefixUpdated
        Stage:
          axes:
            axis1:
              max_speed: 100
              position: 5.5
              range:
              - 0
              - 150
              speed: 10
            axis2:
              max_speed: 100
              position: 5.5
              range:
              - 0
              - 150
              speed: 10
            axis3:
              max_speed: 100
              position: 5.5
              range:
              - 0
              - 300
              speed: 10
          level: required
          name: DummyStage
      joystick_to_axis:
        ABS_RY:
        - Z
        - true
        ABS_X:
        - X
        - true
        ABS_Y:
        - Y
        - true
        BTN_WEST: advance
      name: window1
      navigator:
        layout: pylasso\navigator\database\lasso_wafer.xml
        viewer: true
      speed_profiles:
        default:
          X: 50
          Y: 50
          Z: 50
        dropoff:
          post:
            X: 10
            Y: 10
            Z: 5
        midpoint:
          post:
            X: 100
            Y: 100
            Z: 100
          pre:
            X: 100
            Y: 100
            Z: 100
        pickup:
          post:
            X: 10
            Y: 10
            Z: 10
        post_pickup:
          pre:
            X: 20
            Y: 20
            Z: 100
      state_machine: pylasso\devices\lasso\lasso_speed_ctrl.scxml
      state_positions:
        dropoff:
          X: 133.80442187499995
          Y: 66.61467499999998
          Z: 212.2234492187499
        midpoint:
          X: 140.09637890624992
          Y: 44.37360156249998
          Z: 152.99878515624994
        pickup:
          X: 140.09637890624992
          Y: 53.78033281249997
          Z: 65.40450390624997
        post_pickup:
          X: 0
          Y: 0
          Z: -10
      state_properties:
        dropoff: absolute
        midpoint: absolute
        pickup: absolute
        post_pickup: relative
    output_directory: .\data\right_lasso_videos
    title: Dummy LASSO Window
  window2:
    camera:
      camera_settings:
        serial_number: 1
      horizontal_flip: false
      name: WebCamera
      vertical_flip: false
    elements:
      camera_controls: true
      camera_feed: true
      microtome_control: true
      prototome_control: true
      state_machine_display: true
      status_label: false
      strain_gauge_control: false
      top_buttons: false
      water_control: false
    prototome:
      axes:
        Piezo:
          max_label: Front
          min_label: Back
          range:
          - 0
          - 30
          unit: um
        Y:
          control_panel: true
          inversed: true
          max_label: Back
          min_label: Front
          range:
          - -25
          - 25
          travel:
            range:
            - -25
            - 25
          unit: mm
          velocity:
            default: 5
            range:
            - 0
            - 10
        Z:
          control_panel: true
          inversed: true
          max_label: Bottom
          min_label: Top
          range:
          - 0
          - 300
          travel:
            range:
            - 10
            - 32.0
          unit: mm
          velocity:
            default: 5
            range:
            - 0
            - 10
    title: Microtome Control Window
microtome:
  active: true
  axis_map:
    Piezo: Stage_fine.axis1
    Y: Stage_coarse.axis2
    Z: Stage_coarse.axis1
  bottom_position_mm: 30
  cut_speed: 4
  devices:
    Consumer_dropoffimager:
      name: ROIImageSaver
      save_dir: .\data\montage_images
      save_ext: tif
      save_prefix: ''
      source:
        camera_1: newFrame
        self:
        - saveImage
        - saveNameUpdated
        - savePrefixUpdated
    Stage_coarse:
      axes:
        axis1:
          max_speed: 100
          position: 5.5
          range:
          - 0
          - 300
          speed: 10
        axis2:
          max_speed: 1
          position: 0
          range:
          - -25
          - 25
          speed: 10
      level: required
      name: DummyStage
    Stage_fine:
      axes:
        axis1:
          max_speed: 100
          position: 5.5
          range:
          - 0
          - 30
          speed: 10
      level: required
      name: DummyStage
  ep_cut_bottom: 20
  ep_cut_top: 10
  level: required
  name: Prototome
  retract_distance: 5
  retract_piezo_distance: 5
  retract_speed: 24.0
  retract_time_ok_count: 4
  safe_pause_range:
  - 20
  - 10
  section_thickness: 100
  state_machine: pylasso\devices\microtome\prototome_cd\prototome_cd_facing.scxml
  top_position_mm: 0
pump:
  enable: true
  name: DummyPump
state_machine:
  filename: test_sc.scxml
logging:
  disable_existing_loggers: true
  formatters:
    colored:
      (): coloredlogs.ColoredFormatter
      datefmt: '%Y-%m-%d %H:%M:%S.%f'
      field_styles:
        asctime:
          color: green
        hostname:
          color: magenta
        levelname:
          bold: true
          color: magenta
        name:
          color: cyan
        programname:
          color: cyan
        username:
          color: yellow
      format: '%(asctime)s:%(name)s:%(levelname)s: %(message)s'
    log_server:
      datefmt: '%Y-%m-%d %H:%M:%S'
      format: '%(asctime)s\n%(name)s\n%(levelname)s\n%(funcName)s (%(filename)s:%(lineno)d)\n%(message)s'
    standard:
      format: '%(asctime)s:%(name)s:%(levelname)s: %(message)s'
  handlers:
    console:
      class: logging.StreamHandler
      formatter: colored
      level: DEBUG
      stream: ext://sys.stdout
    file:
      class: logging.FileHandler
      filename: default_lasso_log.log
      formatter: standard
      level: DEBUG
      mode: a
    web_handler:
      class: logging.handlers.SocketHandler
      formatter: log_server
      host: eng-logtools.corp.alleninstitute.org
      level: INFO
      port: 9000
  loggers:
    ? ''
    : handlers:
      - console
      - file
      level: DEBUG
  version: 1
